<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/logog8branco.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-content class="bg">

  <div class="panel">
    <h1>G8 Training</h1>
    <ion-card>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-label color="light" floating>Email</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="creds.email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="light" floating>Senha</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="creds.password" required></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button color="primary" full type="submit" [disabled]="!loginForm.form.valid">Entrar</button>
      </form>
      
    </ion-card>
  </div>
  <button ion-button clear color="light" (click)="register()" full>Criar conta</button>
  <!--<button ion-button clear color="light" full>Resetar Senha</button>-->

</ion-content>

<ion-footer>
  <label>
    <strong>v0.0.9</strong>
  </label>
</ion-footer>