page-gestao-de-pontos-fracos {

    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { color: map-get($colors, light); }

    .etapa-card {
        border: 2px solid color($colors, fracos);
    }

    .titulo {
        background: color($colors, light);
    }

    .goTo {
        color:  color($colors, fracos);
    }

    div .middle {
        font-size: 85%;
        color:  color($colors, fracos);
        padding-top: 8px;
        text-align: center;
        font-weight: bold;
    }

    div .right {
        color:  color($colors, fracos);
        padding-top: 10px;
        font-size: 80%;
        text-align: right;
    }      

}


