<ion-header>
  <ion-navbar color="fracos">
    <ion-title>Gestão de Pontos Fracos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="etapa-card" tappable>
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="left">
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="middle">
              Pontos Fortes
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              <ion-icon class="goTo" [name]="iconDeclaracao" item-left></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="etapa-card" tappable>
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="left">
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="middle">
              Pontos Fracos
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              <ion-icon class="goTo" [name]="iconDeclaracao" item-left></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="etapa-card" tappable>
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="left">
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="middle">
              Exercício
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              <ion-icon class="goTo" [name]="iconDeclaracao" item-left></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

</ion-content>