<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="creds.email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="creds.password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" name="nickname" [(ngModel)]="creds.nickname" required></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button color="primary" full type="submit" [disabled]="!registerForm.form.valid">Criar conta</button>
  </form>

</ion-content>