<ion-header>
    <ion-navbar color="objetivo">
      <ion-title>Objetivo</ion-title>  
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="etapa-card" tappable (click)="navigateToPage('DeclaracaoPage')">
      <ion-item class="titulo">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="left">
                <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
              </div>
            </ion-col>          
            <ion-col>
              <div class="middle">
                Declaração
              </div>
            </ion-col>
            <ion-col>
              <div class="right">
                <ion-icon class="goTo" [name]="iconDeclaracao" item-left></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>

  <ion-card class="etapa-card" tappable (click)="navigateToPage('MetaPrincipalPage')">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
            </div>
          </ion-col>          
          <ion-col>
            <div class="middle">
              Meta Principal
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              <ion-icon class="goTo" [name]="iconMeta" item-left></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

</ion-content>
