<ion-header>
  <ion-navbar color="objetivo">
    <ion-title>Meta Principal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Escreva sua Meta abaixo</ion-label>
  </ion-item>
  
  <ion-textarea padding class="campo-declaracao" placeholder="" [(ngModel)]="meta"></ion-textarea>

  <button padding ion-button full color="objetivo" (click)='editarMeta()'>Editar</button>

</ion-content>
