<ion-header no-border>
  <ion-navbar color="comunicacao">
    <ion-title>Potencial Comunicativo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-item *ngFor="let atitude of atitudes1">
          <ion-label>{{atitude.descricao}}</ion-label>
          <ion-checkbox [disabled]="isDisable(atitude.marcada)" (ionChange)="updateCount(atitude)" color="comunicacao"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item *ngFor="let atitude of atitudes2">
          <ion-label>{{atitude.descricao}}</ion-label>
          <ion-checkbox [disabled]="isDisable(atitude.marcada)" (ionChange)="updateCount(atitude)" color="comunicacao"></ion-checkbox>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <button [disabled]="!canSalvar()" full ion-button color="comunicacao" (click)="salvar()">{{botao}}</button>
</ion-footer>