<ion-header>
    <ion-navbar color="planejamento">
      <ion-title>Planejamento</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="etapa-card">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
            </div>
          </ion-col>          
          <ion-col>
            <div class="middle">
              Insight        
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              0%
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="etapa-card" tappable (click)="navigateToPage('MapaTabsPage')">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
            </div>
          </ion-col>          
          <ion-col>
            <div class="middle">
              Mapa de Talentos        
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              0%
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card class="etapa-card">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
            </div>
          </ion-col>          
          <ion-col>
            <div class="middle">
              Road Map
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              0%
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  
  <ion-card class="etapa-card">
      <ion-item class="titulo">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
              </div>
            </ion-col>          
            <ion-col>
              <div class="middle">
                Big Win
              </div>
            </ion-col>
            <ion-col>
              <div class="right">
                0%
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </ion-content>
