<ion-header no-border>
    <ion-navbar  hideBackButton="true" color="planejamento">
      <ion-title>Mapa de Talentos</ion-title>  
      <ion-buttons begin>
          <button ion-button icon-left color="light" (click)="navigateToBack()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  
    <ion-fab right top edge (click)="addItem()">
      <button ion-fab class="pop-in" color="primary">
          <ion-icon name="ios-add"></ion-icon>
      </button>
    </ion-fab>
  
    <ion-fab bottom right >
      <button ion-fab class="pop-in" color="primary">
        <ion-icon  name="ios-information-outline"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab color="primary">Links</button>
        <button ion-fab color="primary">Ajuda</button>
      </ion-fab-list>
    </ion-fab>
  
  
    <h2>4º Mês</h2>
  
    <ion-list>
      <ion-item-sliding *ngFor="let item of items; let i = index; ">
        <ion-item>
          {{item.title}}
          <button ion-button item-right icon-only clear (click)="deleteItem(itemsMes1, i)">
            <ion-icon color="grey" name="trash"></ion-icon>
          </button>
        </ion-item>
      </ion-item-sliding>
    </ion-list>  
    
  </ion-content>