<ion-header no-border>
  <ion-navbar transparent>
    <ion-buttons right>
      <button ion-button color="perfil"
              *ngIf="slideIndex < slides.length - 1"
              class="skip-button"
              (click)="skip()">PULAR</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content fullscreen="true" class="no-padding-top">
  <ion-slides #slider pager="true" autoplay="3000" (ionSlideWillChange)="onSlideChanged()">
    <ion-slide *ngFor="let slide of slides"
               class="slide-background"
               [ngStyle]="{'background-image': 'url(' + slide.imageUrl +')'}">
      <div class="text-wrapper">
        <div class="slide-text">

          <div class="flb">
            <div class="Aligner-item Aligner-item--top"></div>
            <img src={{slide.img}}>
            <div class="Aligner-item Aligner-item--bottom"></div>
          </div>

          <h2 class="slide-title" [innerHTML]="slide.title"></h2><br>
          <p [innerHTML]="slide.description"></p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="floating-buttons pop-in" *ngIf="slideIndex >= slides.length - 1">
    <button ion-button clear large full (click)="goToApp()">Começar!</button>
  </div>
</ion-content>