<ion-header no-border>
  <ion-navbar color="planejamento">
    <ion-title>Teste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list-header>
      Deslize para excluir
  </ion-list-header>

  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
        {{ item.name }}
        <button item-end ion-button icon-only clear>
          <ion-icon [color]="item.open ? 'light' : 'planejamento'" name="add-circle"></ion-icon>
        </button>
      </button>      
      <ion-list *ngIf="item.children && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>

          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
            <h2>{{ child.name }}</h2>
          </ion-item>

        </ion-list-header>
      </ion-list>

    </ion-list-header>
    
  </ion-list>

</ion-content>