<ion-header>
    <ion-navbar color="tempo">
      <ion-title>Jogo dos Números</ion-title>  
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row>

      <ion-col>

        <ion-row>
            <ion-col no-padding>

            </ion-col>
            <ion-col no-padding>

            </ion-col>
            <ion-col no-padding>
              <button class="numero" (click)="press('45');" [ngStyle]="{'background-color': buttonColor45}">
                <label><b>45</b></label>
              </button>
            </ion-col>          
            <ion-col no-padding>

            </ion-col>                    
          </ion-row>        

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('49');" [ngStyle]="{'background-color': buttonColor49}">
              <label><b>49</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('21');" [ngStyle]="{'background-color': buttonColor21}">
              <label><b>21</b></label>
            </button>
          </ion-col>          
          <ion-col no-padding>

          </ion-col>                    
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('29');" [ngStyle]="{'background-color': buttonColor29}">
              <label><b>29</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('1');" [ngStyle]="{'background-color': buttonColor1}">
              <label><b>1</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>          
          <ion-col no-padding>
            <button class="numero" (click)="press('37');" [ngStyle]="{'background-color': buttonColor37}">
              <label><b>37</b></label>
            </button>
          </ion-col>                    
        </ion-row>

        <ion-row>
          <ion-col no-padding>

          </ion-col>                    
          <ion-col no-padding>
            <button class="numero" (click)="press('33');" [ngStyle]="{'background-color': buttonColor33}">
              <label><b>33</b></label>
            </button>            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('5');" [ngStyle]="{'background-color': buttonColor5}">
              <label><b>5</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>

          </ion-col>                    
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('13');" [ngStyle]="{'background-color': buttonColor13}">
              <label><b>13</b></label>
            </button>
          </ion-col>                    
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('25');" [ngStyle]="{'background-color': buttonColor25}">
              <label><b>25</b></label>
            </button>
          </ion-col>                    
        </ion-row>
        
        <ion-row>
          <ion-col no-padding>
            
          </ion-col>                    
          <ion-col no-padding>
            <button class="numero" (click)="press('17');" [ngStyle]="{'background-color': buttonColor17}">
              <label><b>17</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('41');" [ngStyle]="{'background-color': buttonColor41}">
              <label>
                <b>41</b>
              </label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('9');" [ngStyle]="{'background-color': buttonColor9}">
              <label>
                <b>9</b>
              </label>
            </button>
          </ion-col>
        </ion-row>        

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>

          </ion-col>          
          <ion-col no-padding>

          </ion-col>
        </ion-row>

      </ion-col>

      <ion-col>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('22');" [ngStyle]="{'background-color': buttonColor22}">
              <label><b>22</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('38');" [ngStyle]="{'background-color': buttonColor38}">
              <label>
                <b>38</b>
              </label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('10');" [ngStyle]="{'background-color': buttonColor10}">
              <label><b>10</b></label>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('26');" [ngStyle]="{'background-color': buttonColor26}">
              <label><b>26</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('42');" [ngStyle]="{'background-color': buttonColor42}">
              <label><b>42</b></label>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('30');" [ngStyle]="{'background-color': buttonColor30}">
              <label><b>30</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('50');" [ngStyle]="{'background-color': buttonColor50}">
              <label><b>50</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('6');" [ngStyle]="{'background-color': buttonColor6}">
              <label><b>6</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('2');" [ngStyle]="{'background-color': buttonColor2}">
              <label><b>2</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('14');" [ngStyle]="{'background-color': buttonColor14}">
              <label><b>14</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('46');" [ngStyle]="{'background-color': buttonColor46}">
              <label><b>46</b></label>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('18');" [ngStyle]="{'background-color': buttonColor18}">
              <label>
                <b>18</b>
              </label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('34');" [ngStyle]="{'background-color': buttonColor34}">
              <label>
                <b>34</b>
              </label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>

          </ion-col>
        </ion-row>        

      </ion-col>      
    
    </ion-row>

    <ion-row>
        
      <ion-col>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('7');" [ngStyle]="{'background-color': buttonColor7}">
              <label><b>7</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('43');" [ngStyle]="{'background-color': buttonColor43}">
              <label><b>43</b></label>
            </button>
          </ion-col>          
          <ion-col no-padding>
            
          </ion-col>                    
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('23');" [ngStyle]="{'background-color': buttonColor23}">
              <label><b>23</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>          
          <ion-col no-padding>
            <button class="numero" (click)="press('31');" [ngStyle]="{'background-color': buttonColor31}">
              <label><b>31</b></label>
            </button>
          </ion-col>                    
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('19');" [ngStyle]="{'background-color': buttonColor19}">
              <label><b>19</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('35');" [ngStyle]="{'background-color': buttonColor35}">
              <label><b>35</b></label>
            </button>
          </ion-col>          
          <ion-col no-padding>
            
          </ion-col>                    
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('3');" [ngStyle]="{'background-color': buttonColor3}">
              <label><b>3</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>          
          <ion-col no-padding>
            <button class="numero" (click)="press('27');" [ngStyle]="{'background-color': buttonColor27}">
              <label><b>27</b></label>
            </button>
          </ion-col>                    
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('47');" [ngStyle]="{'background-color': buttonColor47}">
              <label><b>47</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>          
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('39');" [ngStyle]="{'background-color': buttonColor39}">
              <label><b>39</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('11');" [ngStyle]="{'background-color': buttonColor11}">
              <label>
                <b>11</b>
              </label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('15');" [ngStyle]="{'background-color': buttonColor15}">
              <label><b>15</b></label>
            </button>
          </ion-col>          
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>
            
          </ion-col>          
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>        

      </ion-col>

      <ion-col>

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('40');" [ngStyle]="{'background-color': buttonColor40}">
              <label><b>40</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('32');" [ngStyle]="{'background-color': buttonColor32}">
              <label><b>32</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('8');" [ngStyle]="{'background-color': buttonColor8}">
              <label><b>8</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('16');" [ngStyle]="{'background-color': buttonColor16}">
              <label><b>16</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('12');" [ngStyle]="{'background-color': buttonColor12}">
              <label><b>12</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('44');" [ngStyle]="{'background-color': buttonColor44}">
              <label><b>44</b></label>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('4');" [ngStyle]="{'background-color': buttonColor4}">
              <label><b>4</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('36');" [ngStyle]="{'background-color': buttonColor36}">
              <label><b>36</b></label>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('24');" [ngStyle]="{'background-color': buttonColor24}">
              <label><b>24</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col no-padding>
            <button class="numero" (click)="press('20');" [ngStyle]="{'background-color': buttonColor20}">
              <label><b>20</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('48');" [ngStyle]="{'background-color': buttonColor48}">
              <label><b>48</b></label>
            </button>
          </ion-col>
          <ion-col no-padding>
            <button class="numero" (click)="press('28');" [ngStyle]="{'background-color': buttonColor28}">
              <label>
                <b>28</b>
              </label>
            </button>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>
            
          </ion-col>
          <ion-col no-padding>

          </ion-col>
          <ion-col no-padding>

          </ion-col>
        </ion-row>        

      </ion-col>      
    
    </ion-row>    

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div *ngIf="!started">
      <button padding ion-button full color="tempo" (click)='startTimer()'>Iniciar</button>
    </div>
    <div *ngIf="started">
      <ion-row>
        <ion-col no-padding>
          <div no-padding>
            <button ion-button large block clear color="tempo" class="timer-button x-large">{{displayTime}}</button>
          </div>
        </ion-col>
        <ion-col no-padding>
          <div no-padding>
            <button ion-button large block clear color="tempo" class="timer-button x-large">{{pontos}} PONTOS</button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-footer>

