page-jogo-dos-numeros {

    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { color: map-get($colors, light); }

    label {
         display:inline-block;
    }

    .numero {
        height: 30px;
        width: 30px;
        border-radius: 40%;
        border: 1px solid;
    }
    
    h2{
        text-align: center;
        display:table-cell;
        vertical-align:middle;
    }

    ion-icon { 
        font-size: xx-large;
        padding-right: 10px;
    }

    .large {
        padding-top: 12px;
    }

    body {
        position: static !important;
    }

}
