<ion-header>
    <ion-navbar color="perfil">
      <ion-title>Meu Perfil</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="etapa-card" tappable (click)="navigateToPage('QuestionarioPage')">
    <ion-item class="titulo">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-icon class="goTo" name="arrow-dropright-circle" item-left></ion-icon>    
            </div>
          </ion-col>          
          <ion-col>
            <div class="middle">
              Questionário
            </div>
          </ion-col>
          <ion-col>
            <div class="right">
              <ion-icon class="goTo" [name]="iconQuestionario" item-left></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  
</ion-content>
