page-meu-perfil {
    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { color: map-get($colors, light); }

    .etapa-card {
        border: 2px solid color($colors, perfil);
    }

    .titulo {
        background: color($colors, light);
    }

    .goTo {
        color:  color($colors, perfil);
    }

    div .middle {
        color:  color($colors, perfil);
        padding-top: 8px;
        text-align: center;
        font-weight: bold;
    }

    div .right {
        
        color:  color($colors, perfil);
        text-align: right;
    }

}
