<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{viewTitle}}</ion-title>
    <!--
    <ion-buttons end>      
      <button ion-button [disabled]="isToday" (click)="today()">Hoje</button>
      <button ion-button (click)="changeMode('month')">M</button>
      <button ion-button (click)="changeMode('week')">S</button>
      <button ion-button (click)="changeMode('day')">D</button>
      <button ion-button (click)="loadEvents()">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
     -->
  </ion-navbar>
</ion-header>

<ion-content class="has-header">
  <calendar 
    [noEventsLabel]="calendar.noEventsLabel" 
    [locale]="calendar.locale" 
    [eventSource]="eventSource" 
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" 
    (onCurrentDateChanged)="onCurrentDateChanged($event)" 
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)" 
    (onTimeSelected)="onTimeSelected($event)" 
    step="30">
  </calendar>
</ion-content>