page-dash-meta-principal {


    @import url(https://fonts.googleapis.com/css?family=Lato);
    @import url(https://fonts.googleapis.com/css?family=Oswald);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

    ion-content {
        background-color: #212121 !important;
        text-align: center;
    }    

    .pai {
        vertical-align: middle;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 80px 10% 15%;
        color: #ffffff;
    }
      
    .pai:before {
        font-family: 'FontAwesome';
        content: "\201C";
        position: absolute;
        font-size: 170px;
        opacity: 0.35;
        font-style: normal;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0px;
        left: 50%;
    }

    .meta {
        font-family: 'Lato', Arial, sans-serif;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 8px;
        min-width: 250px;
        max-width: 310px;
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    h3 {
        font-family: 'Oswald';
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 400;
        line-height: 24px;
        margin: 3px 0;
      }

}
