<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Módulos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card tappable (click)="navigateToPage('ObjetivoPage')">
    <img class="modulo" src="assets/imgs/objetivo.jpg">
    <div class="card-title">Objetivo</div>
  </ion-card>      

  <ion-card tappable (click)="navigateToPage('MeuPerfilPage')">
    <img class="modulo" src="assets/imgs/perfil.jpg">
    <div class="card-title">Meu Perfil</div>
  </ion-card>      

  <ion-card tappable (click)="navigateToPage('PlanejamentoPage')">
    <img class="modulo" src="assets/imgs/planejamento.jpg">
    <div class="card-title">Planejamento</div>
  </ion-card>      

  <ion-card tappable (click)="navigateToPage('GestaoDeTempoPage')">
    <img class="modulo" src="assets/imgs/tempo.jpg">
    <div class="card-title">Gestão de Tempo</div>
  </ion-card>      
  
  <ion-card tappable (click)="navigateToPage('GestaoDePontosFracosPage')">
    <img class="modulo" src="assets/imgs/pontosfracos.jpg">
    <div class="card-title">Gestão de Prontos Fracos</div>
  </ion-card>      

  <ion-card tappable (click)="navigateToPage('ComunicacaoPessoalPage')">
    <img class="modulo" src="assets/imgs/comunicacao.jpg">
    <div class="card-title">Comunicação Pessoal</div>
  </ion-card>      

  <ion-card>
    <img class="cadeado" src="assets/imgs/cadeado.png">
    <img class="modulo" src="assets/imgs/foco.jpg">
    <div class="card-title">Foco</div>
  </ion-card>      
      
  <ion-card>
    <img class="cadeado" src="assets/imgs/cadeado.png">
    <img class="modulo" src="assets/imgs/indicadores.jpg">
    <div class="card-title">Indicadores de Desempenho</div>
  </ion-card>      

</ion-content>