<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Sobre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br />
  <label>
    <strong>Versão: </strong>v0.0.9
  </label>
</ion-content>
