<ion-header>
  <ion-navbar color="primary">
    <ion-title>Diário de Bordo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
      
    <ion-item>
      <ion-label>Selecionar Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate">"11/11/2017"</ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Por que valeu à pena viver o dia de hoje?</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Se eu pudesse voltar no tempo e mudar algo que aconteceu hoje, o que eu mudaria?</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Quais as principais ações em sequência, que irei realizar amanhã que contribuirá e muito para chegar a minha META?</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block>Salvar</button>
  </div>

</ion-content>
