<ion-tabs color="planejamento" >
    <ion-tab [root]="tab1Root" tabTitle="1º Mês" tabIcon="ios-git-commit"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="2º Mês" tabIcon="ios-git-compare"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="3º Mês" tabIcon="ios-git-branch"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="4º Mês" tabIcon="ios-qr-scanner"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="5º Mês" tabIcon="ios-ionic-outline"></ion-tab>
</ion-tabs>
  
  