page-mapa3-meses {

    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { color: map-get($colors, light); }

    h2 {
        text-align: center;
        color: map-get($colors, planejamento);
    }    

}
