<ion-header no-border>
  <ion-navbar color="planejamento">
    <ion-title>Teste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <div>
    <ion-row>
      <ion-col no-padding>
        <div no-padding>
          <button ion-button large block clear class="timer-button x-large">{{displayTime}}</button>
        </div>
      </ion-col>
      <ion-col no-padding>
        <div no-padding>
          <button ion-button large block clear class="timer-button x-large">{{pontos}} PONTOS</button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <button padding ion-button full color="primary" (click)='startTimer()'>Iniciar</button>
  <button padding ion-button full color="light" (click)='pauseTimer()'>Pause</button>
  <button padding ion-button full color="perfil" (click)='initTimer()'>Reiniciar</button>
  <br/>
  <button padding ion-button full color="comunicacao" (click)='botaoCerto()'>Botão Correto</button>
  <button padding ion-button full color="danger" (click)='botaoErrado()'>Botão Errado</button>
  <button padding ion-button full color="dark" (click)='terminar()'>Terminar</button>

</ion-content>

<!--
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>All Day?</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item>
  </ion-list>

  <button ion-button full icon-left (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Add Event
  </button>
</ion-content>
-->